.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #B0E0E6;
}

#blogtitle {
    font-size: 10vw;
    color: #000080;

}

#rounded {
    border-radius: 30px;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 3vw;
    }
    #blogdetailtitle {
        font-size: 4vw;
    }
}
